<ul>
  <li>{{link-to 'React' 'org.repo.issues' 'react'}}</li>
  <li>{{link-to 'Oculus' 'org.repo.issues' 'oculus'}}</li>
  <li>{{link-to 'React Native' 'org.repo.issues' 'react-native'}}</li>
</ul>

{{outlet}}